Repository madk1nd/home_finance: changes, and which Jenkins stages are due for each by the changed paths.
All: Backend, Frontend

Backend:
              stages {
                  stage('Build Backend') {
                      steps {
                          sh 'mvn clean install -DskipTests'
                      }
                  }
                  stage('Test Backend') {
                      steps {
                          sh 'mvn test'
  ...

Frontend:
              stages {
                  stage('Install Frontend') {
                      steps {
                          sh 'npm i'
                      }
                  }
                  stage('Lint Frontend') {
                      steps {
                          sh 'npm run lint'
  ...

Change README.md
  frontend/README.md
Due: Frontend

Fix Jenkinsfile
  Jenkinsfile
  frontend/README.md
Due: Frontend

Add cd to frontend
  Jenkinsfile
  frontend/README.md
Due: Frontend

Add deploy_front.sh content
  deploy_front.sh
  frontend/src/App.js
Due: Frontend

Fix deploy_front.sh
  deploy_front.sh
Due: none

Add some strange change
  frontend/src/App.js
Due: Frontend

Add another strange change
  frontend/src/App.js
Due: Frontend

Test Pipeline
  backend-api/src/main/java/com/finance/home_finance/controller/TestController.java
  backend-api/src/test/java/com/finance/home_finance/controller/TestControllerTest.java
  frontend/src/App.js
Due: Backend, Frontend

Add mock postgres data
  backend-api/dev.sql
Due: Backend

Add simple colors workflow
  backend-api/pom.xml
  backend-api/src/main/java/com/finance/home_finance/controller/TestController.java
  backend-api/src/main/java/com/finance/home_finance/dto/ColorDTO.java
  backend-api/src/main/java/com/finance/home_finance/model/Color.java
  backend-api/src/main/java/com/finance/home_finance/repository/ColorsRepository.java
  backend-api/src/main/java/com/finance/home_finance/service/ColorService.java
  backend-api/src/main/java/com/finance/home_finance/service/ColorServiceImpl.java
  backend-api/src/main/resources/application.properties
  backend-api/src/test/java/com/finance/home_finance/controller/TestControllerTest.java
Due: Backend

Add labels data layer
  backend-api/pom.xml
  backend-api/src/main/java/com/finance/home_finance/controller/ColorController.java
  backend-api/src/main/java/com/finance/home_finance/controller/LabelController.java
  backend-api/src/main/java/com/finance/home_finance/dto/LabelDTO.java
  backend-api/src/main/java/com/finance/home_finance/model/Color.java
  backend-api/src/main/java/com/finance/home_finance/model/Label.java
  backend-api/src/main/java/com/finance/home_finance/repository/LabelsRepository.java
  backend-api/src/main/java/com/finance/home_finance/service/ColorServiceImpl.java
  backend-api/src/main/java/com/finance/home_finance/service/LabelService.java
  backend-api/src/main/java/com/finance/home_finance/service/LabelServiceImpl.java
  backend-api/src/test/java/com/finance/home_finance/controller/TestControllerColor.java
Due: Backend

commit for init Jenkins deploy
  README.md
Due: none

modify Jenkinsfile
  Jenkinsfile
Due: none

test commit
  README.md
Due: none

Update README.md
  README.md
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

add Categories
  backend-api/src/main/java/com/finance/home_finance/controller/CategoryController.java
  backend-api/src/main/java/com/finance/home_finance/dto/CategoryDTO.java
  backend-api/src/main/java/com/finance/home_finance/model/Category.java
  backend-api/src/main/java/com/finance/home_finance/repository/CategoriesRepository.java
  backend-api/src/main/java/com/finance/home_finance/service/CategoryService.java
  backend-api/src/main/java/com/finance/home_finance/service/CategoryServiceImpl.java
Due: Backend

Add categories data layer
  Jenkinsfile
  backend-api/src/main/java/com/finance/home_finance/controller/CategoryController.java
  backend-api/src/main/java/com/finance/home_finance/dto/CategoryDTO.java
  backend-api/src/main/java/com/finance/home_finance/model/Category.java
  backend-api/src/main/java/com/finance/home_finance/repository/CategoriesRepository.java
  backend-api/src/main/java/com/finance/home_finance/service/CategoryService.java
  backend-api/src/main/java/com/finance/home_finance/service/CategoryServiceImpl.java
Due: Backend

Add colors data layer
  backend-api/pom.xml
  backend-api/src/main/java/com/finance/home_finance/controller/ColorController.java
  backend-api/src/main/java/com/finance/home_finance/dto/ColorDTO.java
  backend-api/src/main/java/com/finance/home_finance/model/Color.java
  backend-api/src/main/java/com/finance/home_finance/repository/ColorsRepository.java
  backend-api/src/main/java/com/finance/home_finance/service/ColorService.java
  backend-api/src/main/java/com/finance/home_finance/service/ColorServiceImpl.java
  backend-api/src/main/resources/application.properties
  backend-api/src/test/java/com/finance/home_finance/controller/TestControllerColor.java
  pom.xml
  src/main/java/com/finance/home_finance/controller/TestController.java
  src/main/resources/application.properties
Due: Backend

Add labels data layer
  backend-api/src/main/java/com/finance/home_finance/controller/LabelController.java
  backend-api/src/main/java/com/finance/home_finance/dto/LabelDTO.java
  backend-api/src/main/java/com/finance/home_finance/model/Label.java
  backend-api/src/main/java/com/finance/home_finance/repository/LabelsRepository.java
  backend-api/src/main/java/com/finance/home_finance/service/LabelService.java
  backend-api/src/main/java/com/finance/home_finance/service/LabelServiceImpl.java
Due: Backend

Add prettier and eslint to frontend
  frontend/.eslintrc.json
  frontend/.prettierrc.json
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/serviceWorker.js
Due: Frontend

Add CI/CD and SQL data structure
  Jenkinsfile
  backend-api/dev.sql
  deploy_back.sh
  deploy_front.sh
Due: Backend

Add categories (#1)
  Jenkinsfile
  README.md
  backend-api/src/main/java/com/finance/home_finance/HomeFinanceApplication.java
  backend-api/src/main/java/com/finance/home_finance/controller/CategoryController.java
  backend-api/src/main/java/com/finance/home_finance/dto/CategoryDTO.java
  backend-api/src/main/java/com/finance/home_finance/model/Category.java
  backend-api/src/main/java/com/finance/home_finance/repository/CategoriesRepository.java
  backend-api/src/main/java/com/finance/home_finance/service/CategoryService.java
  backend-api/src/main/java/com/finance/home_finance/service/CategoryServiceImpl.java
  backend-api/src/test/java/com/finance/home_finance/HomeFinanceApplicationTests.java
Due: Backend

Add events data layer
  Jenkinsfile
  README.md
  backend-api/src/main/java/com/finance/home_finance/controller/EventController.java
  backend-api/src/main/java/com/finance/home_finance/dto/EventDTO.java
  backend-api/src/main/java/com/finance/home_finance/model/Event.java
  backend-api/src/main/java/com/finance/home_finance/repository/EventRepository.java
  backend-api/src/main/java/com/finance/home_finance/service/EventService.java
  backend-api/src/main/java/com/finance/home_finance/service/EventServiceImpl.java
  frontend/README.md
Due: Backend, Frontend

Feature/add events data layer (#2)
  backend-api/src/main/java/com/finance/home_finance/controller/EventController.java
  backend-api/src/main/java/com/finance/home_finance/dto/EventDTO.java
  backend-api/src/main/java/com/finance/home_finance/model/Event.java
  backend-api/src/main/java/com/finance/home_finance/repository/EventRepository.java
  backend-api/src/main/java/com/finance/home_finance/service/EventService.java
  backend-api/src/main/java/com/finance/home_finance/service/EventServiceImpl.java
Due: Backend

Add devtools and h2 dependency and organize them
  backend-api/pom.xml
Due: Backend

Change approach to persist UUID fields to more generic way
  backend-api/src/main/java/com/finance/home_finance/model/Category.java
  backend-api/src/main/java/com/finance/home_finance/model/Color.java
  backend-api/src/main/java/com/finance/home_finance/model/Event.java
  backend-api/src/main/java/com/finance/home_finance/model/Label.java
Due: Backend

Add save method to color data layer
  backend-api/src/main/java/com/finance/home_finance/service/ColorService.java
  backend-api/src/main/java/com/finance/home_finance/service/ColorServiceImpl.java
Due: Backend

Add h2 spring boot integration tests
  backend-api/src/test/java/com/finance/home_finance/controller/ColorControllerTests.java
  backend-api/src/test/java/com/finance/home_finance/controller/TestControllerColor.java
  backend-api/src/test/resources/application.properties
Due: Backend

Extract variables for asserted values
  backend-api/src/test/java/com/finance/home_finance/controller/ColorControllerTests.java
Due: Backend

Path conditions:
  Backend: any of: backend-api/**
  Frontend: any of: frontend/**
